<%- include('../../fragments/header.ejs') %>

<% if (listMode == 'showInfo') { %>
    <div id="delete-info" class="<%= infoType === 'deleted' ? 'info-activated' : 'info-disabled' %>"><img
                src="/images/deleteICON.png" alt="Delete icon" width="25px">Powód usuniety
        pomyślnie
    </div>
    <div id="update-info" class="<%= infoType == 'updated' ? 'info-activated' : 'info-disabled' %>"><img
                src="/images/updateICON.png" alt="Update icon" width="25px">Powód
        zaktualizowany pomyślnie
    </div>
    <div id="insert-info" class="<%= infoType == 'added' ? 'info-activated' : 'info-disabled' %>"><img
                src="/images/addICON.png" alt="Add icon" width="25px">Powód dodany
        pomyślnie
    </div>
<% } %>

<main>
    <h2>Lista powodów</h2>
    <table class="table-list">
        <thead>

        <tr>
            <th>Typ nieobecności</th>
            <th>% Wynagrodzenia</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let reason of reasons) { %>
            <tr>
                <td><%= reason.Name %></td>
                <td><%= reason.SalaryPercentage %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/reason/details/<%= reason.IdReason %>" class="list-actions-button-details">Szczegóły</a>
                            <a href="/reason/edit/<%= reason.IdReason %>" class="list-actions-button-edit">Edytuj</a>
                            <a href="/reason/delete/<%= reason.IdReason %>" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/reason/add" class="button-add">Dodaj nowy powód</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>
