<%- include('../../fragments/header.ejs') %>

<% if (listMode == 'showInfo') { %>
    <div id="delete-info" class="<%= infoType === 'deleted' ? 'info-activated' : 'info-disabled' %>"><img
                src="/images/deleteICON.png" alt="Delete icon" width="25px">Pracownik usuniety
        pomyślnie
    </div>
    <div id="update-info" class="<%= infoType == 'updated' ? 'info-activated' : 'info-disabled' %>"><img
                src="/images/updateICON.png" alt="Update icon" width="25px">Pracownik
        zaktualizowany pomyślnie
    </div>
    <div id="insert-info" class="<%= infoType == 'added' ? 'info-activated' : 'info-disabled' %>"><img
                src="/images/addICON.png" alt="Add icon" width="25px">Pracownik dodany
        pomyślnie
    </div>
<% } %>

<main>
    <h2>Lista pracowników</h2>
    <table class="table-list">
        <thead>

        <tr>
            <th>Imię</th>
            <th>Drugie imię</th>
            <th>Nazwisko</th>
            <th class="non-essential-row">Email</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody>
        <% for (let emp of emps) { %>
            <tr>
                <td><%= emp.Name %></td>
                <td><%= emp.SecondName %></td>
                <td><%= emp.Surname %></td>
                <td class="non-essential-row"><%= emp.Email %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/employee/details/<%= emp.IdEmployee %>" class="list-actions-button-details">Szczegóły</a>
                            <a href="/employee/edit/<%= emp.IdEmployee %>" class="list-actions-button-edit">Edytuj</a>
                            <a href="/employee/delete/<%= emp.IdEmployee %>" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>
    <p><a href="/employee/add" class="button-add">Dodaj nowego pracownika</a></p>
</main>

<%- include('../../fragments/footer.ejs') %>