<!DOCTYPE html>
<html lang="pl-PL">


<head>
    <link rel="stylesheet" href="/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <title>Absence</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>

<body>
<header>
    <h1>Register of absences</h1>
    <img src="/images/REGISTER_OF_ABSENCES_LOGO.png" alt="Register of absences Logo" class="main-logo">
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation == 'main' ? 'active' : '' %>"><%= __('nav.main-page') %></a></li>
        <li><a href="/absence" class="<%= navLocation == 'absence' ? 'active' : '' %>"><%= __('nav.absences') %></a></a>
        </li>
        <li><a href="/employee"
               class="<%= navLocation == 'emp' ? 'active' : '' %>"><%= __('nav.employees') %></a></li>
        <li><a href="/reason"
               class="<%= navLocation == 'reason' ? 'active' : '' %>"><%= __('nav.reasons') %></a></li>
        <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : '' %>">PL</a></li>
        <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : '' %>">EN</a></li>
        <% if(!loggedUser) { %>
            <div id="login">
                <!--                <h5> Logowanie </h5>-->
                <form method="post" action="/login" novalidate>
                    <label for="loginEmail"><%= __('login.email') %>:</label>
                    <input type="Email" id="loginEmail" name="Email">

                    <label for="loginPassword"><%= __('login.password') %>:</label>
                    <input type="Password" id="loginPassword" name="Password">

                    <input type="submit" value=<%= __('login.btnLogInLabel') %>>
                    <span id="loginErrors"><%= loginError ? loginError : '' %></span>
                </form>
            </div>
        <% }else { %>
            <span><%= __('login.welcomeInfo') %>: <%= loggedUser.Name + " " + loggedUser.Surname %></span>
            <a href="/logout"><%= __('login.btnLogOutLabel') %></a>
        <% } %>
    </ul>
</nav>



